:root {
  --main-text-color: #ffffff;

  --product-background-color: rgba(8, 8, 8, 0.697);
  --product-price-background-color: rgba(1, 214, 1, 0.681);
  --product-add-to-cart-background-color: #f44336;


  --main-background-gradient-top: #1b1b1b;
  --main-background-gradient-bottom: #222222;
  
  --footer-background-color: rgba(221, 221, 221, 0.303);
}

[data-theme="light"] {
  --main-text-color: #2e2e2e;
  --main-background-gradient-top: #bebebe;
  --main-background-gradient-bottom: #acacac;
  --product-background-color: rgba(230, 230, 230, 0.697);
  --footer-background-color: rgba(230, 230, 230, 0.697);
}

[data-theme="dark"] {
  --main-text-color: #ffffff;
  --main-background-gradient-top: #1b1b1b;
  --main-background-gradient-bottom: #222222;
  --product-background-color: rgba(8, 8, 8, 0.697);
  --footer-background-color: rgba(8, 8, 8, 0.697);
}

.product-icon {
    width: 150px;
    height: 90px;
    border: #00ff15 5px;
    border-radius: 5px;
  }
a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a{
    text-decoration: none;
    color: var(--product-name-color-linkable);
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
  }
  .product {
      background-color: var(--product-background-color);
      margin: 10px;
      padding: 5px;
      width: 250px;
      border-radius: 10px; /* добавляем гладкие углы */
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  .product:hover {
    transform: scale(1.05);
  }
  
  .product-details {
    margin-top: 20px;
  }
  #errorMessage {
    display: none;
    position: fixed;
    top: -190px;
    right: -350px;
    background-color: rgba(255, 0, 0, 0.558);
    color: rgb(255, 255, 255);
    padding: 10px;
    animation-name: slideInError;
    animation-duration: 0.5s;
  }
  
  @keyframes slideInError {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
      
    }
  }
  
  footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: var(--footer-background-color);
      text-align: center;
      font-size: 12px;
      padding: 10px 0;
      margin-bottom: 0;
      color: var(--main-text-color)
    }
    html, body {
    height: 100%;
   
  }
  body {
    background: linear-gradient(to bottom, var(--main-background-gradient-top), var(--main-background-gradient-bottom));
    background-size: 100% 200%;
    background-attachment: fixed;
    /* animation: gradient 10s ease infinite; */
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .product .button {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--product-add-to-cart-background-color);
    border: none;
    color: var(--main-text-color);
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .product button:hover {
      background-color: #b5c9df89;
      color: #333333;
  }
  
  .product button:active {
    background-color: #cd11115b;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
  .price {
      background-color: var(--product-price-background-color);
      color: var(--main-text-color);
      margin-left: 75px;
      margin-right: 75px;
      border-radius: 5px;
      text-decoration: bold;
  }
  h3 {
    color: var(--main-text-color);
  }